<div class="container d-sm-flex">
    <div class="w-25 d-flex flex-column nav-lists">
      <a routerLink="navigation/navigation1" routerLinkActive="active-link">>> Navigation 1</a>
      <a routerLink="navigation/navigation2" routerLinkActive="active-link">>> Navigation 2</a>
      <a>>> Navigation 3
          <ul class="subnav">
              <li><a>>>subnav 1</a></li>
              <li><a>>>subnav 2</a></li>
          </ul>
      </a>
      <a>>> Navigation 4</a>
      <a>>> Navigation 5</a>
    </div>
    <div class="w-75 h-100">
       <router-outlet></router-outlet>
    </div>

</div>
