<footer class="bg-dark">
<div class="container d-md-flex justify-content-between bg-dark py-3 color">
    <div>
        <h5>POSUERE LECTUS ENIM QUIS LEO</h5>
        <p>Suspendisse potenti ut tempus consequat accumsan donec.</p>
        <p>Street Name & Number, Town, Postcode/Zip</p>
        <p>+00 (123) 456 7890</p>
        <p>info@domain.com</p>
        
    </div>
    <div>
        <h5>ID INTERDUM NISL IN</h5>
        <a href="#" class="nav-link">footer link 1</a>
        <a href="#" class="nav-link">footer link 2</a>
        <a href="#" class="nav-link">footer link 3</a>
        <a href="#" class="nav-link">footer link 4</a>

    </div>
    <div>
        <h5>AT NULLA ULTRICES</h5>
        <a href="#" class="nav-link">footer link 5</a>
        <a href="#" class="nav-link">footer link 6</a>
        <a href="#" class="nav-link">footer link 7</a>
        <a href="#" class="nav-link">footer link 8</a>
    </div>
    
</div>
<div class="second-footer text-center p-2">
    <p class="text-white">Copyright © 2018 - All Rights Reserved - Domain Name</p>
</div>
</footer>