<style>
    
.overlay-text{
    position: absolute;
    top:50%;
    left:20%;
    transform: translateY(-50%);
}
.card button{
    margin:5px;
}
</style>

<div class="card text-white">
    <img src="./assets/carousel3.jpg" class="card-img" alt="..." style="height:500px;">
    <div class="card-img-overlay overlay-text">
      <h6 class="card-text">RHONCUS INTEGER SODALES HENDRERIT</h6>
      <h3 class="card-text">NULLA QUIS TINCIDUNT</h3>
      <p class="card-text">Nulla pretium justo nibh non pretium metus gravida vel cras urna quam suscipit sit.</p>
      <button type="button" class="btn btn-outline-warning">Button1</button>
      <button type="button" class="btn btn-outline-warning">Button2</button>
    </div>
  </div>
