<app-banner></app-banner>
<div class="container">
    <div class="text-center mt-5">
        <h3>AMET ODIO VITAE CONDIMENTUM</h3>
        <h6>Elit aenean at iaculis enim ac odio proin varius</h6>
    </div>
    <div class="d-md-flex p-5">
        <div class="">
             <p>Elit massa nec gravida turpis luctus in mauris dictum libero eu tempus finibus leo nibh lacinia mi et posuere.</p>
              <p>Massa urna ut magna aliquam non nibh cursus lacus vitae aliquet arcu ut sed lectus euismod lacinia magna non hendrerit sapien aliquam gravida nunc imperdiet tortor.</p>
                <div class="d-md-flex">
                 <div class="text-justify m-3">
                    <mat-icon class="icons">language</mat-icon>
                    <h5>IACULIS EGET SEMPER</h5>
                    <p>Erat imperdiet duis ullamcorper sed orci id mollis aliquam ut nisl quis lacus laoreet…</p>
                 </div>
                 <div class="ml-auto m-3">
                    <mat-icon class="icons">account_balance</mat-icon>
                  <h5>VIVERRA SIT AMET ET</h5>
                  <p>Nulla curabitur nec interdum ipsum nec ultrices libero ut ac sapien scelerisque congue…</p>
                 </div>
                </div>
        </div>
        <div class="mx-3">
            <img src="./assets/elephant.jpg" class="img-thumbnail" alt="" style="width:450px;height:300px;">
        </div>
    </div>
</div>
<section class="bg-color p-5">
    <div class="container d-md-flex">
     <div class="mx-3">
         <h6>POURUS PORTA MACEANUS</h6>
         <p>Vitae lorem id diam aliquet semper a ac leo curabitur dictum orci et libero…</p>
     </div>
     <div class="mx-3">
         <h6>RUTRUM BLANDIT DONEC</h6>
         <p>Eget commodo justo curabitur dictum vestibulum purus id facilisis fusce…</p>
     </div>
     <div class="mx-3">
        <h6>NIBH TINCIDUNT PRETIUM</h6>
        <p>Nisi molestie vel cras velit metus molestie at vehicula ut auctor at turpis nunc…</p>
     </div>
    </div>
</section>
